<div
  class="bg-white py-4 px-auto h-20 shadow  cursor-pointer rounded-lg hover:scale-105 hover:shadow-md duration-300 content-center flex items-center justify-center gap-3">
  @if (icon_src && !icon_src.includes('undefined')) {
    <img [ngSrc]="icon_src" alt="icon" height="36" priority width="36">
  } @else {
    <span class="font-bold text-4xl">{{ title.at(0).toUpperCase() }}</span>
  }
  <div class="flex flex-col">
    <div class="font-bold text-xl">{{ title }}</div>
    @if (subtitle) {
      <span class="text-nowrap">{{ subtitle }}</span>
    }
  </div>
</div>
