<div class="flex flex-col">
  <div class="flex w-full items-center bg-sky-800 px-5 py-8   rounded-lg text-white mb-12 pl-12">
    <img alt="img" height="150" ngSrc="assets/img/protection.svg" width="150"/>
    <div class="ml-12">
      <div class="text-4xl font-bold mb-3">Administración de cuentas</div>
      <span class="text-xlg">Cuentas administradas por el departamento TI Comialex</span>
    </div>

  </div>

  <div class="flex flex-row">
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search"/>
      <input
        #inputProveedor
        (input)="onInputCambiado(inputProveedor.value)"
        class="w-52"
        pInputText
        placeholder="Buscar proveedor"
        type="text"
      />
    </p-iconfield>
    <p-button (onClick)="abrirProveedor()" class="ml-auto" icon="pi pi-plus" label="Nuevo proveedor"
              severity="success"></p-button>
  </div>

  <div class="mt-4 grid grid-cols-2 md:grid-cols-4 gap-4 lg:grid-cols-5">
    @if (accounts) {
      @for (t of accounts; track t.id) {
        <app-cuenta
          [routerLink]="['/sistemas/app', t.id]"
          [icon-src]="'/assets/icon/cuenta/' + t.icon"
          [title]="t.nombre"
        ></app-cuenta>
      }
    }
  </div>
</div>
@defer (when modalNuevoProveedor; prefetch when modalNuevoProveedor) {
  <p-dialog header="Nuevo Proveedor" [modal]="true" [(visible)]="modalNuevoProveedor" [style]="{ width: '25rem' }">
    <app-nuevo-proveedor (cerrar)="actualizarProveedores($event)"></app-nuevo-proveedor>
  </p-dialog>
}
