.box {
  aspect-ratio: .8;
  position: relative;
  height: 20rem;
  z-index: 0;
}

.box:before,
.box:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
}

.box:before {
  clip-path: polygon(0 0, 100% 50%, 10% 100%, 0 100%);
  background: linear-gradient(40deg, #3185c5, #0ea1b1);
}

.box:after {
  clip-path: polygon(100% 30%, 100% 50%, 10% 100%, 0% 100%, 0 80%);
  background: linear-gradient(40deg, #3185c5, #f55778);
}
