<div class="flex  bg-slate-500 p-4 text-white rounded-md">
  <app-title description="Administración de incidencias y seguimientos" imageSrc="assets/icon/fixcontrol.svg"
             title="Reportes"></app-title>
</div>
<p-menubar [model]="items" breakpoint="300px" styleClass="my-2"/>
<p-table #dt
         [globalFilterFields]="['creado','folio','titulo.nombre', 'area.nombre','unidad.clave','unidad.nombre','estatus.nombre']"
         [loading]="pagina.loading"
         [scrollable]="true"
         [value]="tickets"
         scrollHeight="flex"
         styleClass="rounded-2xl  shadow-lg bg-white h-[calc(100vh-218px)]">
  <ng-template #caption>
    <div class="flex justify-start gap-2">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search"/>
        <input (input)="dt.filterGlobal($any($event.target).value, 'contains')" [(ngModel)]="searchValue"
               class="w-52"
               pInputText placeholder="Buscar en resultados" type="text"/>
      </p-iconfield>
      <p-button (onClick)="openFilter=true" [icon]="activeFilter?'pi pi-filter-slash':'pi pi-filter'"/>
      <p-button (onClick)="synchronizeTable(dt)" class="ml-auto" icon="pi pi-refresh"></p-button>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th class="md:min-w-60 min-w-58" pSortableColumn="folio">Folio
        <p-sortIcon field="folio"/>
      </th>
      <th class="min-w-32" pSortableColumn="estatus.nombre">Estado
        <p-sortIcon field="estatus.nombre"/>
      </th>
      <th class="min-w-52" pSortableColumn="area.nombre">Área
        <p-sortIcon field="area.nombre"/>
      </th>
      <th class="min-w-96" pSortableColumn="unidad.clave">Unidad
        <p-sortIcon field="unidad.clave"/>
      </th>

      <th class="min-w-48" pSortableColumn="creado">Registrado
        <p-sortIcon field="creado"/>
      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template #body let-ticket>
    <tr>
      <td [routerLink]="['/sci/observaciones/detalles', ticket.folio]" class="cursor-pointer">
        <div class="font-bold">{{ ticket.folio }}</div>
        <div>{{ ticket.titulo.nombre }}</div>
      </td>
      <td>
        <div
          [ngClass]="obtenerGravedad(ticket.estatus.id)"
          class="rounded-lg min-w-24 text-center text-sm font-medium text-white p-1">
          {{ ticket.estatus.nombre }}
        </div>
      </td>
      <td>{{ ticket.area.nombre }}</td>
      <td>{{ ticket.unidad.nombre }}</td>
      <td>{{ ticket.creado | date: 'dd/MM/yy h:mm a' }}</td>
      <td>
        <div class="flex flex-row gap-2">
          @if (ticket.estatus.nombre.toLowerCase() !== 'cerrado') {
            <p-button icon="pi pi-plus" severity="success" (onClick)="openModalSeguimiento(ticket)"></p-button>
          }

          <p-button [routerLink]="['/sci/observaciones/detalles', ticket.folio]" icon="pi pi-inbox"></p-button>
          <button-copy [data]="buildCopyString(ticket)" severity="primary"></button-copy>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #loadingicon>
    <app-spinner></app-spinner>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="7">
        <div class="flex mx-2 my-4">
          <app-title
            description="Intente sincronizar o aplicar otros criterios de búsqueda."
            imageSrc="assets/icon/notfound.svg"
            title="Sin registros"/>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="flex justify-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="pagina.first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="pagina.rows"
        [totalRecords]="pagina.totalRecords"
        currentPageReportTemplate="{first} - {last} de {totalRecords}"/>
    </div>
  </ng-template>
</p-table>
@defer (when openFilter; prefetch when openFilter == true) {
  <filtro-ticket [visible]="openFilter" (cerrar)="openFilter=false"></filtro-ticket>
} @loading {
  <app-spinner [modal]="true"></app-spinner>
}
<!--CONSULTAR TICKET POR FOLIO-->
@defer (when searchTicketStatus; prefetch when searchTicketStatus) {
  <search-ticket [visible]="searchTicketStatus" (closedComponent)="searchTicketStatus=false"></search-ticket>
} @loading {
  <app-spinner [modal]="true"></app-spinner>
}
@defer (when addSeguimiento; prefetch when addSeguimiento) {
  <app-guardar-actividad (closed)="addSeguimiento=false"
                         (saveSuccess)="cargarTickets()"
                         [ticket]="selectedTicket" [dialogVisible]="addSeguimiento"></app-guardar-actividad>
} @loading {
  <app-spinner [modal]="true"></app-spinner>
}
